:root {
    --primary-color: #0198b0;
    --yellow-color : #f8e92b;
    --yellow-color-hover : #f9d139;
    --yellow-color-active : #ffe031;
}

body {
    background-image: url('/assets/file/system/background.png');
    background-size: cover; /* Để ảnh phủ toàn bộ */
    background-position: center; /* Căn giữa ảnh */
    background-repeat: no-repeat; /* Không lặp lại ảnh */
    min-height: 100vh; /* Đảm bảo chiều cao tối thiểu là 100% chiều cao viewport */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
.flag-icon {
    width: 20px;
    height: 15px;
    margin-right: 5px;
}

.text-yellow {
    color: var(--yellow-color)
}

.bg-yellow {
    background-color: var(--yellow-color);
}

.bg-yellow:hover {
    background-color: var(--yellow-color-hover);
}

.section-home {
    margin-top: 70%;
}

.card-result {
    background-color: rgba(231, 231, 231, 0.5); /* Màu nền với độ trong suốt */
    backdrop-filter: blur(3px);
}

.fw-info {
    color: #4e4e4e;
    font-family : 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

@media (min-width: 768px) { /* Tablet */
    .section-home {
        margin-top: 50%;
    }
}

@media (min-width: 992px) { /* Desktop */
    .section-home {
        margin-top: 25%;
    }
}

#continue {
    animation: bounce 1s infinite;
    transition: opacity 0.5s ease; /* Thêm hiệu ứng chuyển đổi cho opacity */
    opacity: 1; /* Đặt opacity ban đầu là 1 */
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}